<%= form_with model: Home.new do |f|%>
  <div class="mt-4">
    <%= f.text_field :full_name, placeholder: "Full Name",required: true, class: "form-control"%>
    
  </div>
  <div class="mt-3">
    <%= f.text_field :email, placeholder: "Email Address", class: "form-control"%>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= f.number_field :phonenumber, placeholder: "Phone number", class: "form-control"%>
    </div>
    <div class="col">
      <%= f.text_field :subject, placeholder: "Subject",required: true, class: "form-control"%>
    </div>
  </div>
  <div class="mt-3">
    <%= f.text_area :message, placeholder: "Your Message",required: true, class: "form-control"%>
  </div>
  <div class="mt-3 text-center">
    <%= f.submit "Submit",class:"btn btn-save"%>
  </div> 
<% end %>